.main{
  position: relative;
  margin-top: 10vh;
}
.wrap{
  display: flex;
  padding: 20px;
  margin-top: 5vh;
}
.img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text{
  color: white;
  top: 40%;
  left: 40%;
  bottom: 40%;
  right: 40%;
  font-size: 15pt;
  font-weight: bold;
  position: absolute;
}
@media screen and (max-width: 405px){
  .wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:  15px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .main{
    margin-top: 20vh;
  }
}
