.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
}

.maps {
  z-index: -1;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 3%;
  position: absolute;
  background-color: #fff;
  width: 500px;
  height: 80vh;
  padding: 20px;
  margin: 5% 20px 20px 20px;
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, .5);
  color: #576574;
  opacity: 0.7;
}
.block{
  color: black;
  opacity: 10;
  margin: 10px;
  font-size: 12pt;
  font-weight: bold;
}
.number{
  opacity: 10;
  color: black;
  margin: 10px;
  font-size: 12pt;
  font-weight: normal;
}
.btn{
  opacity: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb3b5a;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  &:hover,:focus{
    text-decoration: none;
    background-color: #34495e;
    color: white;
  }
}
@media screen and (max-width: 600px){
  .main{
    margin: 100px 10px 10px 10px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 70vh;
    padding: 5px;
    font-size: 20px;
  }
  .btn{
    width: 200px;
    height: 50px;
  }
  .block,
  .number{
    font-size: 10pt;
  }
  .btn{
    font-size: 10pt;
    z-index: 5;
  }
}

