.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
}

.maps {
  z-index: -1;
  opacity: 50;
  position: absolute;
  height: 90vh;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 3%;
  top: 10%;
  position: absolute;
  background-color: #fff;
  width: 500px;
  height: 80vh;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, .5);
  color: #576574;
}
.block{
  margin: 10px;
  font-size: 12pt;
  font-weight: bold;
}
.number{
  margin: 10px;
  font-size: 12pt;
  font-weight: normal;
}

