.input {
  width: 500px;
  height: 500px;
}
.menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
.li > a,
{
  color: white;
  text-decoration: none;
  &  a:hover{
    text-decoration: none;
  }
}
.li{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 30px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  font-size: 15pt;
  color: #fff;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0  #2B2B2B;
  background-color: #eb3b5a;
}