
.main {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  width: 100%;
  background-image: url(adrian-Xft-JdC-Jbc-unsplash.jpg);
  background-position: center;
  font-size: 150px;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
  left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  transition: all 2.5s ease-in-out;
}

.main:hover .text {
  background-size: 5% 5%;

}

.bg {
  height: 100vh;
  width: 100%;
  background-image: url(adrian-Xft-JdC-Jbc-unsplash.jpg);
  background-size: 100% 100%;
  background-position: center;
  transform: rotateY(180deg);
  transition: all 2.5s ease-in-out;
}

.main:hover .bg {
  background-size: 100% 105%;
}
.wrap{
  top: 50%;
}